@import 'config';

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    color: $secondary-color;
    
    label {
        position: absolute;
        right: 28px;
        top: 18px;
        cursor: pointer;
        z-index: 3;
        font-size: 1.5em;  
        display: none;
    }
    
    #toggle {
        display: none;
    }
    
    &-brand {
        font-family: $varela-round;
        letter-spacing: 2px;
    }
    
    &-nav {
        font-family: $varela-round;
        font-size: 1em;
        
        .nav-item {
            margin: 0 .5rem;
            display: inline-block;
         }
    }
}