@import 'config';
@import 'menu';
@import 'slick-theme';
@import 'mobile';

html {
    box-sizing: border-box;
}
//general
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
    &:focus {
        outline: none;
    }
 }

body {
    font: $normal 1em $open-sans;
    line-height: 1.3;
    display: none;
 }

h1 {
    font-size: 4.5em;
    font-weight: $bold;
    font-family: $hind;
 }

h2 {
    font-size: 2.5em;
    font-family: $hind;
 }

h3 {
    font-size: 2em;
    font-family: $hind;
 }

h4 {
    font-size: 1.2em;
    font-family: $hind;
 }
 
 
h5 {
    font-family: $varela-round;
    text-transform: uppercase;
 }

hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #d3d3d3;
        margin: 1em 0;
        padding: 0; 
 }
    
    

a {
    text-decoration: none;
    color: inherit;
    
    &:visited {
        color: inherit;
    }
}

p {
    font-family: $varela-round;
    line-height: 2;
}

ul, li {
    list-style: none;
}




//index 
.top-bg {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    
    .top-bg-overlay {
        background-position: center;
        background: $primary-overlay;
        z-index: 1;
    }
}

.top {
    @include flexCenter;
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
    color: $secondary-color;
    text-align: center;
    
    &-sm-header {
        font-weight: $normal;
    }
    
    &-btn-container {
        @include flexCenter;
        color: $primary-color;
        margin: 2rem 0 6rem 0;
        font-family: $montserrat;
        font-weight: $bold;
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        .top-btn {
            background: $secondary-color;
            margin: .6rem .4rem;
            padding: .8rem 1.5rem;
            border-radius: 35px;
            @include easeOut;
        }
    }
}


.what {
    width: 100%;
    padding: 4rem 5rem;
    background-color: $light-background;
    
    &-header {
        text-align: center;
        color: $primary-color;
        letter-spacing: 8px;
        padding: 1rem;
    }
    
    &-container {
        display: flex;
        
        .what-content-container {
            flex: 45%;
            
            .what-content-header {
                padding: 1.2rem 0;
                color: #333333;
            }
            
            .who-header {
                text-align: left;
                letter-spacing: 2px;
                padding: 2rem 0 .5rem 0;
                color: $primary-color;
            }
           
        }
        
        .what-img-container {
            display: inline-block;
            flex: 50%;
            animation-delay: 0.3s;
            
            .what-img {
              max-width: 100%;
              margin: 1.5rem;
            }
        }
        
    }
}


.how {
    padding: 2rem 4rem;
    text-align: center;
    
    &-lg-header {
        font-weight: $normal;
    }
    
    &-p {
        color: $tertiary-color;
    }
    
    &-content {
        @include flexCenter;
        
        .how-content-container {
            flex: 1 0 30%;
            display: inline-block;
            padding: 1rem;
            margin: 1rem;
           
               &.share {
                   animation-delay: .2s;
               }
               
               &.follow {
                   animation-delay: .4s;
               }
               
                .how-icon {
                    color: $primary-color;
                    padding: 2rem;
                }
                
                .how-sm-header {
                    font-size: 1.4em;
                    font-weight: $normal;
                    margin-bottom: .3em;
                }
                
                .how-sm-p {
                    color: $tertiary-color;
                }
        }
    }
    
}



.home-img-links {
    @include flexCenter;
    margin: 4rem 0;
    
        .home-img-container {
            width: 550px;
            height: 300px;
            margin: 1rem;
            display: block;
            position: relative;
            overflow: hidden;
            filter: brightness(100%);
            
            
            .home-img-link {
                display: block;
                vertical-align: middle;
                
                .home-img {
                    @include easeOut;
                    max-width: 100%;
                    max-height: 100%;
                }
                
                .home-img-text {
                    @include easeOut;
                    color: $secondary-color;
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    white-space: nowrap;
                    padding: 5rem 4rem;
                }
            }
        }
}



.testimonial-carousel {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    display: block;
    
    &:active {
        cursor: grabbing;
    }
    
    .testimonial {
        margin: 1.2rem;
        height: auto;
        text-align: center;
        outline: none;
        
        &:not(.slick-current) {
            p, span {
                background-color: $secondary-color;
                color: #ccc;
                
                .bottom-arrow {
                &:after {
                    z-index: -1;
                    position: absolute;
                    top: 98.1%;
                    left: calc(50% - 25px);
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: solid 25px $secondary-color;
                    border-left: solid 25px transparent;
                    border-right: solid 25px transparent;
                }
            }
          }
          
          img {
              opacity: .4;
              filter: grayscale(50%);
          }
        }
        
        p {
            background-color: $primary-color; 
            color: $secondary-color;
            padding: 2.5rem 2.5rem 2.5rem 5.5rem;
            border-radius: 10px;
            display: block;
            font-size: 1em;
            letter-spacing: 0.5;
            text-align: left;
            outline: 0;
            position: relative;
          
            &:before {
                content: open-quote;
                font-size: 7em;
                color: $primary-overlay;
                opacity: 0.4;
                position: absolute;
                top: -10%;
                left: 2%;
                
              }
              
              &:after {
                  content: close-quote;
                  visibility: hidden;
              }
              
              .bottom-arrow {
            
                &:after {
                    z-index: -1;
                    position: absolute;
                    top: 98.1%;
                    left: calc(50% - 25px);
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: solid 25px $primary-color;
                    border-left: solid 25px transparent;
                    border-right: solid 25px transparent;
                }
            }
        
        }
        
        
        .img-icon {
            display: block;
            margin: 3.5rem auto 2.5rem auto;
            border-radius: 50%;
        }
        
        span {
            font-weight: $bold;
        }
        
    }  //-----------testimonial
    
    
    //testimonial indicator
    .slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    
    li {
        position: relative;
        display: inline-block;
        height: 4px;
        width: 28px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        
        button {
            border: 0;
            background: #ccc;
            display: block;
            height: 4px;
            width: 28px;
            outline: none;
            padding: 0;
            cursor: pointer;
            
            &:before {
                content: '';
            }
        }
        
        &.slick-active {
            
            button {
                background: $primary-color;
            }
        }
    } 
  } 
} 



.bottom-bg {
    margin: 5rem 0 1rem 0;
    width: 100%;
    height: 28rem;
    z-index: 0;
    background-size: cover;

    
    .bottom-bg-overlay {
        width: 100%;
        height: 28rem;
        background: $black-overlay;
        z-index: 1;
        @include flexCenter;
        
        
        .bottom-contact {
            padding: 1rem;
            color: $secondary-color;
            text-align: center;
            @include flexCenter;
            flex-direction: column;
            
            h3 {
                @include textShadow;
            }
            .contact-btn {
                @include readMore;
                margin-top: 25px;
                
                &:hover {
                    border: 2px solid $primary-color;
                    background-color: $primary-color;
                    @include easeOut;
                }
            }
        }
    }
}






//about

.about-top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.about-top-content {
    @include flexCenter;
    flex-direction: column;
    margin: 5rem 0;
    color: $secondary-color;
    
    h1 {
        @include textShadow;
    }
    
    h3 {
        font-weight: $normal;
        animation-delay: .3s;
    }
}



//about page sticky nav
#about-nav {
  height: 4.5rem;  
  background-color: #111;
  width: 100%;
  z-index: 1;
  @include flexCenter;
  
      li {
        margin: .8rem;
        color: $tertiary-color;
        font-family: $varela-round;
        @include easeOut;
        
    
         &:hover {
             color: $secondary-color;
         }
      }
}

.stuck {
    position:fixed;
    top: 0;
}

.current {
    color: $secondary-color !important; 
}



//introduction
#introduction {
    width: 100%;
    height: 45rem;
    z-index: 0;
    background-size: cover;
    
    .intro-overlay {
        width: 100%;
        height: 45rem;
        background: $black-overlay;
        z-index: 1;
        
        .intro-content {
            width: 50%;
            height: 45rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $secondary-color;
            padding: 40px;

            h2 {
                font-weight: $normal;
                margin-bottom: 1rem;
                @include textShadow;
            }
        }
    }
}



//team
#team {
    max-width: 100%;
    margin: 2rem;
    
    .team-sm-header {
        letter-spacing: 2px;
        text-align: center;
        color: $primary-color;
    }
    
    .team-lg-header {
        text-align: center;
        font-weight: $normal;
        
    }
    
    .team-img-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
        
        .team-item {
            margin: 1%;
            box-sizing: border-box;
            position: relative;
            height: 350px;
            background-color: #000;
            
            img {
              width: 350px;
              height: 350px;
              position: relative;
              @include easeOut;
            }
            
            .team-img-caption-container {
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                padding: 0 0 1rem 1rem;
                color: $secondary-color;
                line-height: .5;
                opacity: 0;
                @include easeOut;
            }
            
            
            &:hover {
                
                img {
                    opacity: 0.5;
                }
                
                .team-img-caption-container {
                    opacity: 1;
                }
            }
                
        }
    }
    
    .team-content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 40rem;
        padding: 2rem;
        
        * {
            width: 50%;
            padding-right: 20px;
            margin-bottom: 1rem;
        }
        
        .team-content-lg-header {
            color: $primary-color;
            font-weight: $normal;
        }
        
        
        .team-content-sm {
            margin-top: 1rem;
            
            &-header {
                color: $primary-color;
            }
            
            &-p {
                color: $tertiary-color;
            }
            
            span {
                color: $primary-color;
                cursor: pointer;
            }
        }
        
        .team-social {
            
            &-header {
                font-weight: $normal;
            }
            
            &-link {
                color: $primary-color;
                @include easeOut;
                
                &:hover {
                    color: $tertiary-color;
                }
            }
        }
        
        .team-news {
            
            &-header {
                font-weight: $normal;
            }
            
            &-link {
                color: $primary-color;
                @include easeOut;
                
                &:hover {
                    color: $tertiary-color;
                }
            }
        }
    }
}


////contact

.contact-top-bg {
     height: 35rem;
     background-size: cover;
     
     .contact-top-content {
         @include flexCenter;
         @include textShadow;
         margin-top: 7rem;
         color: $secondary-color;
         text-align: center;
     }
}

.contact-direction {
    @include flexCenter;
    flex-wrap: nowrap;
    
    * {
        margin: 1rem;
    }
    
    .direction-img-link {
        position: relative;
        width: 600px;
        height: 350px;
        overflow: hidden;
        color: $secondary-color;
        flex: 50%;
        
        .direction-img {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            filter: grayscale(50%);
            @include easeOut;
        }
        
        .direction-img-text {
            position: absolute;
            top: 0;
            left: 0;
            padding: 35px 0 0 30px;
            
            &-3 {
                text-transform: uppercase;
            }
        }
        
        &:hover {
            .direction-img {
                transform: scale(1.2);
                filter: grayscale(0);
            }
        }
    }
    
    .direction-content {
        flex: 50%;
        
        h3 {
            color: $primary-color;
        }
    }
}

.contact-input {
    background-color: $light-background;
    
    .input-form {
        margin-top: 2rem;
        padding: 4rem;
        
        .input-description {
            width: 50%;
            padding: 1rem 0;
            
            * {
                margin: .5rem;
            }
            
            .input-sm-header {
                color: $primary-color;
            }
        }
        
        .input-group {
            @include flexCenter;
            flex-flow: row wrap;
            
            .input-container {
                position: relative;
                padding: 1rem;
                margin: 1rem 0;
                flex: 33.3%;
                
                .input {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $tertiary-color;
                    background-color: $light-background;
                   
                    &:focus {
                        border-bottom: 2px solid $primary-color;
                        
                        & + .label {
                            font-size: .8em;
                            color: $primary-color;
                        }
                    }
                }
                
                .label {
                    position: absolute;
                    margin: 1rem;
                    left: 0;
                    bottom: 0;
                    cursor: text;
                    color: $tertiary-color;
                    
                }
                
                .input, .label {
                    width: 100%;
                    height: 3rem;
                    @include easeOut;
                }
            }
        }
        
        .submit {
            @include readMore;
            @include easeOut;
            display: inline-block;
            color: $secondary-color;
            background-color: $dark-background;
            
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}















//footer
footer {
    width: 100%;
    font-family: $hind;

    .footer-top {
        @include flexCenter;
        align-items: flex-start;
        padding: 2.5rem;
        
        .footer-content {
            width: 20%;
            margin: 0 1rem;
            font-size: 1em;
            
            a {
                color: $tertiary-color;
                @include easeOut;
                
                &:hover {
                    color: $primary-color;
                }
            }
            
            h5 {
                color: $dark-background;
                text-transform: uppercase;
                margin: 1.5rem 0;
            }
            
            
            &.blog {
                
                div {
                    display: flex;
                    flex-direction: column;
                    
                }
                
                span {
                    margin-bottom: .5rem;
                    font-size: .8em;
                }
            }
            
            &.trending {

                .trending-icons {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    white-space: nowrap;
                    
                    a {
                        color: $secondary-color;
                        background-color: $dark-background;
                        font-size: .7em;
                        margin: .1rem 0 0 .1rem;
                        padding: .5rem;
                        
                        &:hover {
                            background-color: $primary-color;
                        }
                    }
                }
            }
            
            &.site-map {
                div {
                    display: flex;
                    flex-direction: column;
                    
                    a {
                        margin: .5rem 0;
                    }
                }
            }
        }
    }
    
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        padding: 0 4rem;
        background-color: #1f1f1f;
        font-size: .7em;
        color: $tertiary-color;
        
        .footer-icons {
            font-size: 1rem;
            
            a {
                margin-left: .5rem;
                @include easeOut;
                
                &:hover {
                    color: $primary-color;
                }
            }
            
        }
    }
}



@include mediaHover {
    .menu {
        .menu-nav {
            .nav-item {
                .nav-link:hover {
                    color: $tertiary-color;
                }
            }
        }
    }
    
    .top-btn:hover {
        cursor: pointer;
        background: $primary-color;
        color: $secondary-color;
    }
    
    .home-img-container:hover {
        box-shadow: 1px 29px 67px -21px rgba(0,0,0,0.75);
        
        .home-img-link {
            
            .home-img {
                transform: scale(1.2);
                filter: brightness(50%);
            }
            
            .home-img-text {
                opacity: 1;
                border: 10px solid $secondary-color;
            }
        }
    }
    
    
    
    
}