<footer id="footer">
    <div class="footer-top">
        <div>
            <h5>Heartly</h5>
            <p>Build a campaign of kindness and see how far one good deed can go.</p>
        </div>    
        
        <div class="blog">
            <h5>blog</h5>
            <div>
                <a href="/">Encouraging Diversity through Art</a>
                <span>April 19, 2017</span>
            </div>
            <div>
                <a href="/">McDonald's Promotes Kindness with Sarasota Sheriff Department</a>
                <span>April 10, 2017</span>
            </div>
            <div>
                <a href="/">Random Acts of Kindness Foundation: Inspiring kindness through Community</a>
                <span>April 3, 2017</span>
            </div>
        </div>
        
        <div class="trending">
            <h5>trending topics</h5>
            <div class="trending-icons">
                <a href="/">Business</a>
                <a href="/">DailyRAK</a>
                <a href="/">Events</a>
                <a href="/">Fashion</a>
                <a href="/">Featured</a>
                <a href="/">Food For Thought</a>
                <a href="/">Kindness</a>
                <a href="/">Non-Profits</a>
                <a href="/">Pay It Forward</a>
                <a href="/">Quotes</a>
                <a href="/">RAK Spotlight</a>
                <a href="/">Sports</a>
                <a href="/">Top News</a>
                <a href="/">Uncategorized</a>
                <a href="/">Volunteering</a>
            </div>
        </div>
        
        <div class="site-map">
            <h5>around the site</h5>
            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/news">News</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </div>
    
    
    <div class="footer-bottom">
        <p>&copy;2018 Heartly. All rights reserved, Heartly LLC</p>
        <div class="footer-icons">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>






<!-- jQuery -->
  <script type="text/javascript" src="vendor/jquery.min.js"></script>
<!-- slick slider js -->
  <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<!-- waypoints js  -->
  <script type="text/javascript" src="vendor/waypoints/lib/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="vendor/waypoints/lib/shortcuts/sticky.js"></script>
<!-- main js -->
  <script type="text/javascript" src="js/main.js"></script>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>


</body>
</html>