
<!-- jQuery -->
  <script type="text/javascript" src="vendor/jquery.min.js"></script>
<!-- main js file -->
  <script type="text/javascript" src="js/main.js"></script>
<!-- slick slider -->
  <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
  


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>


</body>
</html>