<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Nobly</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  
  
<!-- fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:400,700|Open+Sans|Varela+Round" rel="stylesheet">
 
 
 
<!-- slick slider & main css -->
  <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  
  
    
    