<% include ./partials/header.ejs%>


<div class="about-top-bg" style= "background:url(../img/top-banner-img.jpg)">
<header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>
        
        <nav class="menu">
            <div class="menu-brand">
                <a href="/">nobly</a>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item current">
                    <a href="/about" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/features" class="nav-link">
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/news" class="nav-link">
                        News
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">
                        Contact
                    </a>
                </li>

            </ul>
        </nav>
</header>

<h1></h1>
<h4></h4>
</div>


<div class="sticky">
    <a>Introduction</a>
    <a>Meet The Team</a>
    <a>Nobly in Action</a>
</div>


<div class="introduction">
    <h2>Create your story
        of kindness and share
        it with Nobly
    </h2>
    <h5>
        Nobly was founded on the ideal of inspiring goodwill. We want to give everyone a focused avenue for doing good deeds, and to use those deeds to inspire others; to extend the impact of kindness by paying it forward.
    </h5>
</div>


<div class="team">
    <h5>the nobly team</h5>
    <h2>Fun, Creative, Eclectic</h2>
    <div class="team-pics">
        <div><img/></div>
        <div><img/></div>
        <div><img/></div>
        <div><img/></div>
        <div><img/></div>
    </div>
    
    <div class="team-content">
        <h2>We created Nobly
            to allow kindness
            to grow from one good Deed.
        </h2>
        <p>Team Nobly is located in the heart of Charleston, SC. We are a crazy group of programmers, designers, marketers, and philanthropists all united by the same vision: to create a network where people are connected by the good happening around them. With Nobly, we hope to bring that vision to life, so that you can breathe life into yours.
        </p>
        <h5>how to get started</h5>
        <p>The best way to get started is to download the Nobly app, available for <span>iOS</span> and <span>Android</span>
        </p>
        <div>
            <h3>Search #goNobly on social…</h3>
            <li><a>Facebook</a></li>
            <li><a>Instagram</a></li>
            <li><a>Twitter</a></li>
            <li><a>Dribbble</a></li>
        </div>
        <div>
            <h3>Nobly in the News…</h3>
            <li><a>Silicon Harbor Radio Podcast</a></li>
            <li><a>Silicon Harbor Mag Feature</a></li>
            <li><a>#chsRakWeek Interview</a></li>
        </div>
    </div>
</div>


<div class="nobly-in-action">
    
</div>






<% include ./partials/footer.ejs %>