<% include ./partials/header.ejs%>


<div class="about-top-bg" style="background-image: url(/img/team-heartly.jpg);">
    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>
        
        <nav class="menu">
            <div class="menu-brand">
                <a href="/">Heartly</a>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item current">
                    <a href="/about" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/news" class="nav-link">
                        News
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">
                        Contact
                    </a>
                </li>

            </ul>
        </nav>
    </header>
    <div class="about-top-content">
        <h1 class="fadeinup-animate">We Are Team Heartly!</h1>
        <h3 class="fadeinup-animate">We believe in power of Kindness<h3>
    </div>
</div>


<ul id="about-nav">
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#team">Meet The Team</a></li>
</ul>


<div id="introduction" class="section" style="background-image: url(/img/intro.jpg);">
<div class="intro-overlay">
    <div class="intro-content animated">
        <h2>Create your story<br/>
            of kindness and share<br/>
            it with Heartly</h2>
        <p>Heartly was founded on the ideal of inspiring goodwill. We want to give<br/> 
            everyone a focused avenue for doing good deeds, and to use those deeds <br/>
            to inspire others; to extend the impact of kindness by paying it forward.</p>
    </div>
</div>
</div>


<div id="team" class="section">
    <h5 class="team-sm-header">the Heartly team</h5>
    <h2 class="team-lg-header">Fun, Creative, Eclectic</h2>
    <div class="team-img-container">
        <div class="team-item">
            <img src="/img/team-img-1.jpg"/>
            <div class="team-img-caption-container">
                <h3 class="team-img-caption">Josh Garwood</h3>
                <p class="team-img-caption">Co-Founder and Technical Director</p>
            </div>
        </div>
        <div class="team-item">
            <img src="/img/team-img-2.jpg"/>
            <div class="team-img-caption-container">
                <h3 class="team-img-caption">Jason Benjamin</h3>
                <p class="team-img-caption">Co-Founder and Marketing Director</p>
            </div>
        </div>
        <div class="team-item">
            <img src="/img/team-img-3.jpg"/>
            <div class="team-img-caption-container">
                <h3 class="team-img-caption">Mio Morikubo</h3>
                <p class="team-img-caption">Co-Founder and Business Director</p>
            </div>
        </div>
        <div class="team-item">
            <img src="/img/team-img-4.jpg"/>
            <div class="team-img-caption-container">
                <h3 class="team-img-caption">Luke Cameron</h3>
                <p class="team-img-caption">Nobly Ambassador and Philanthropist</p>
            </div>
        </div>
        <div class="team-item">
            <img src="/img/team-img-5.jpg"/>
            <div class="team-img-caption-container">
                <h3 class="team-img-caption">Caroline Hasson</h3>
                <p class="team-img-caption">Marketing Intern</p>
            </div>
        </div>
    </div>
    
    <div class="team-content-container">
        <h2 class="team-content-lg-header">
            We created Heartly<br/>
            to allow kindness<br/>
            to grow from one good Deed.</h2>
        <p class="team-content-p">
            We are a crazy group of programmers, designers, marketers, and<br/> philanthropists all united by the same vision: to create a network <br/> where people are connected by the good happening around them.<br/> With Heartly, we hope to bring that vision to life, so that you can <br/>breathe life into yours.</p>
        <div class="team-content-sm">
            <h5 class="team-content-sm-header">how to get started</h5>
            <p class="team-content-sm-p">The best way to get started is to download the Heartly app, <br/> available for <span>iOS</span> and <span>Android</span></p>
        </div>
        <div class="team-social">
            <h4 class="team-social-header">Search #goHeartly on social…</h4>
            <li class="team-social-link"><a href="https://www.facebook.com/
">Facebook</a></li>
            <li class="team-social-link"><a href="https://www.instagram.com/">Instagram</a></li>
            <li class="team-social-link"><a href="https://twitter.com/">Twitter</a></li>
            <li class="team-social-link"><a href="https://dribbble.com/">Dribbble</a></li>
        </div>
        <div class="team-news">
            <h4 class="team-news-header">Heartly in the News…</h4>
            <li class="team-news-link"><a href="/">Silicon Harbor Radio Podcast</a></li>
            <li class="team-news-link"><a href="/">Silicon Harbor Mag Feature</a></li>
            <li class="team-news-link"><a href="/">#chsRakWeek Interview</a></li>
        </div>
    </div>
</div>






<% include ./partials/footer.ejs %>