<% include ./partials/header.ejs%>

<div class="top-bg" style= "background: url(/img/top-banner-img.jpg)">
<div class="top-bg-overlay">
 <header>
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>
    
    <nav class="menu">
        <div class="menu-brand">
            <a href="/">Heartly</a>
        </div>
        <ul class="menu-nav">
            <li class="nav-item current">
                <a href="/" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="/features" class="nav-link">
                    Features
                </a>
            </li>
            <li class="nav-item">
                <a href="/news" class="nav-link">
                    News
                </a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">
                    Contact
                </a>
            </li>

        </ul>
    </nav>
 </header>



 <div class="top-banner animated fadeInUp slow">
     <h1>Build a Culture of Kindness</h1>
     <h2>See just how far one good deed can go, with Heartly</h2>
     <div class="top-banner-btn">
         <div>For IOS <i class="fab fa-apple fa-lg"></i></div>
         <div>For Android <i class="fab fa-android fa-lg"></i></div>
         <div>Add to slack <i class="fab fa-slack-hash fa-lg"></i></div>
     </div>
 </div>
 </div>
</div>


 <div class="second-banner">
     <h5>What is Heartly?</h5>
     <hr>
     <div class="second-banner-content">
         <div class="second-banner-description animated slow">
             <h2>Creating a </br>
                world of good.</h2>
             <p> Heartly is an app for iOS and Android that allows you to create and contribute to a chain-reaction of kindness. Each Deed tells a story, and with Heartly you can share that story with others and allow them to pay it forward with a Deed of their own.</p>
            
             <h6>Who is Heartly for?</h6>
             <p>Whether you’re a company interested in bolstering your culture and philanthropic footprint, or simply someone who wants to join a community of kindness, Heartly is for you.</p>
         </div>
         <div class="second-banner-img animated">
             <img src="/img/screens-layered.png">
         </div>
     </div>
 </div>
 
 <div class="third-banner">
     <h2>So how does Heartly work?</h2>
     <h5>It all starts with a simple act of kindness</h5>
     <div class="third-banner-content">
         <div class="kindness animated">
             <i class="far fa-heart fa-3x"></i>
             <h4>Capture Kindness</h4>
             <p>Whether it’s for you or by you, capture a good deed to get started.</p>
         </div>
         <div class="share animated">
             <i class="fas fa-tag fa-3x"></i>
             <h4>Share and Amplify</h4>
             <p>Tag your friends to inspire them to contribute a Deed to your story.</p>
         </div>
         <div class="follow animated">
             <i class="far fa-bookmark fa-3x"></i>
             <h4>Follow the Journey</h4>
             <p>Track the impact of your Deed as it’s journey is brought to life through the chain of kindness it creates.</p>
         </div>
     </div>
 </div>
 
 

 <div class="home-img-links">
    
    <div class="container business animated">
        <a href="/" class="home-img-item">
            <img src="/img/business-img.jpg"/>
            <div class="home-img-link-text">
                <h3>Heartly for Business</h3>
                <p>Bringing social recognition to your company</p>
            </div>
        </a>
    </div>

    <div class="container social animated slow">
        <a href="/" class="home-img-item">
            <img src="/img/social-img.jpg"/>
            <div class="home-img-link-text">
                <h3>Heartly Social</h3>
                <p>Send Thanks to anyone on iOS and Android</p>
            </div>
        </a>
    </div>
 </div>
     

 
 
 <div class="testimonial-carousel">
     <div class="testimonial">
       <p>Today I spent time at a local animal sanctuary helping abused donkeys seek refuge. We fed them and gave them comfort. It's amazing that this was happening so close to home, but it felt amazing to be able to help.
       <span class="bottom-arrow"></span>
       </p>
       <img class="img-icon" src="/img/testimonial-icon-1.jpg"/>
       <span class="name">Luke Cameron</span></br>
       <span>Cirecester, UK - #goHeartly</span>
     </div>
     
     <div class="testimonial">
       <p>My good friend Katie prepared an amazing dinner for the local Ronald McDonald house as part of her #27GoodDeeds for her 27th birthday. And despite my involvement, the food was amazing. 
       <span class="bottom-arrow"></span>
       </p>
       <img class="img-icon" src="/img/testimonial-icon-2.jpg"/>
       <span class="name">Josh Garwood</span></br>
       <span>Charleston, SC - #helpingHands</span>
     </div>
     
     <div class="testimonial">
       <p>I went to the daily food truck to buy lunch and a co-worker stopped me from paying and covered my tab. He later explained that our CEO was here 10 minutes ago and paid for his meal and asked him to pay it forward! It was a good day!
       <span class="bottom-arrow"></span>
       </p>
      <img class="img-icon" src="/img/testimonial-icon-3.jpg"/>
       <span class="name">Jason Benjamin</span></br>
       <span>Charleston, SC - #winningWithCulture</span>
     </div>
     
     <div class="testimonial">
       <p>contest at Carrowinds. Took my super dope prize(basketball) and gave it to an unsuspecting little kid. He was PUMPED!
       <span class="bottom-arrow"></span>
       </p>
       <img class="img-icon" src="/img/testimonial-icon-4.jpg"/>
       <span class="name">Jason Covington</span></br>
       <span>Charlotte, NC - #surpriseGifts</span>
     </div>
 </div>
 
    
 
 <div class="bottom-bg" style= "background-image: url(/img/bottom-img.jpg)">
 <div class="bottom-bg-overlay">
     <div class="bottom-contact">
         <h3>Let's get in touch</h3>
         <p>Want to start a campaign for Kindness at your organization? Get started by clicking the button below.</p>
         <a class="contact-btn" href="/contact">Contact us</a>
     </div>
 </div>
 </div>

<% include ./partials/footer.ejs %>